---
/**
 * 根路径重定向到默认语言 (/zh/)
 * 使用 Astro 原生 i18n 配置
 */
import { getRelativeLocaleUrl } from 'astro:i18n';
import { defaultLocale } from '../lib/i18n';

const redirectUrl = getRelativeLocaleUrl(defaultLocale);
---

<!doctype html>
<html lang='zh'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='refresh' content={`0;url=${redirectUrl}`} />
    <link rel='canonical' href={redirectUrl} />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href={redirectUrl}>{redirectUrl}</a>...</p>
    <script is:inline define:vars={{ redirectUrl }}>
      window.location.replace(redirectUrl);
    </script>
  </body>
</html>
